.os-main-wrapper{
    height: 100vh;
    background-color: rgb(0,191,150);
    display: flex;
    justify-content: center;
    align-items: center;
}
.os-main-container{
    height: 95%;
    width: 95%;
    background-color: aliceblue;
    border-radius:1.7rem 1.3rem;
}
.os-main-heading{
    display: flex;
    justify-content: center;
    align-items: center;

}
.os-main-heading h2{
    overflow-wrap:break-word;
    padding: 1rem;
    padding-top:2rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #bf0019;
}

.os-esc-heading{
    padding-left:2rem;
}
.os-esc-heading h3{
    margin: 2rem;
}
.os-esc-subject-select-option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.os-esc-subject-select-option select{
    width: 70%;
    padding: 1rem;
    outline: none;
    letter-spacing: 0.09rem;
    border: 1.75px solid rgb(106,105,103,0.95);
    border-radius: 0.45rem;
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: bold;
    margin: 1rem 0;

}
.os-esc-subject-select-option option{
    padding: 2rem 0;
    cursor: pointer;
    color: #5d5c5a;
}

.os-esc-save-option{
    padding: 2rem 0;
}
.os-esc-save-button {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    }
    .os-esc-save-button-disabled{
        align-items: center;
    appearance: none;
    background-color: grey;
    border-radius: 4px;
    border-width: 0;
    /* box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset; */
    box-sizing: border-box;
    color: #36395A;
    cursor: no-drop;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    }
    .os-esc-save-button:focus {
        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }
    
    .os-esc-save-button:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        transform: translateY(-2px);
    }
    
    .os-esc-save-button:active {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
    }

    .os-button-disabled{
        align-items: center;
        appearance: none;
        background-color: grey;
        border-radius: 4px;
        border-width: 0;
        /* box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset; */
        box-sizing: border-box;
        color: #36395A;
        cursor: no-drop;
        display: inline-flex;
        font-family: "JetBrains Mono",monospace;
        height: 48px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow .15s,transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow,transform;
        font-size: 18px;
        
    }