.switch-main-container{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
}

.switch-main-container span{
    font-size:2rem;
    align-self: center;
    /* margin: 0 2rem; */
}

.container {
    text-align: center;
}

.toggle-switch {
    position: relative;
    width: 9rem;
    display: inline-block;
    text-align: left;
    top: 1rem;
}

.checkbox {
    display: none;
}

.label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 20px;
}

.inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.inner:before,
.inner:after {
    float: left;
    width: 50%;
    height: 4.5rem;
    padding: 0;
    line-height: 4.5rem;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
}

.inner:before {
    content: "YES";
    padding-left: 1rem;
    background-color: #060;
    color: #fff;
}

.inner:after {
    content: "NO";
    padding-right: 1rem;
    background-color: #bbb;
    color: #fff;
    text-align: right;
}

.switch {
    display: block;
    width: 3rem;
    margin: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5rem;
    border: 0 solid #bbb;
    border-radius: 2.5rem;
    transition: all 0.3s ease-in 0s;
}

.checkbox:checked+.label .inner {
    margin-left: 0;
}

.checkbox:checked+.label .switch {
    right: 0px;
}