.paginationButtons{
    display: flex;
    justify-content: space-between;
    margin: 2rem 30rem;
}

.paginationButtons .paginationButton{
    padding: 1rem;
    background-color: #404040;
    border: 2px solid #404040;
    outline: none;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition-property:background-color color;
    transition-duration:350ms;
    transition-timing-function:ease-in;
}

.paginationButtons .paginationButton:hover{
    border: 2px solid #292929;
    color: #292929;
    background-color:transparent;
}

.paginationButtons .paginationButton:disabled{
    cursor: no-drop;
    color: white;
    border: 2px solid gray;
    background-color: gray;
}

.paginationButtons .paginationButton:disabled:hover{
    cursor: no-drop;
    color: white;
    background-color: gray;
}

.downloadButtons{
    display: flex;
    justify-content: flex-end;
    margin: 2rem 30rem;
}

.downloadButtons .downloadButton{
    padding: 1rem;
    background-color: #404040;
    border: 2px solid #404040;
    outline: none;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition-property:background-color color;
    transition-duration:350ms;
    transition-timing-function:ease-in;
}

.downloadButtons .downloadButton:hover{
    border: 2px solid #292929;
    color: #292929;
    background-color:transparent;
}

table.report {
    border-collapse: collapse;
    width: 98%;
    margin:3rem auto;
    font-size:2rem;
}

table.report td,
table.report th {
    border: 1px solid #ddd;
    padding: 1rem;
}

table.report tr:nth-child(even) {
    background-color: #f2f2f2;
}

table.report tr:hover {
    background-color: #ddd;
}

table.report th,
tfoot td {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    background-color: #4caf50;
    color: white;
}